/*

couleur de fond = #161d28
couleur bleu = #398fee
couleur gris bordure = #353c47
couleur gris ecriture = #6b7582
couleur rouge like = #f51772


*/
@font-face {
  font-family: 'Mont-heavy';
  src: url('/fonts/mont-heavy.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  font-family: Mont-heavy, sans-serif;
    background-color: #161d28;
    
}

* {
  box-sizing: border-box;
  color: white;
}