.container {
  height: 100vh;
  flex: 1 1 50%;
  border-right: 2px solid #353c47;
  margin: 0;
}

.content {
  overflow-y: scroll;
  max-height: 100%;
}

.header{
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom:2px solid #353c47;
  padding: 14px;
}

.title{
  font-size: 25px;
}

.input {
  background-color: #161d28;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 2px solid #353c47;
  align-self: center;
  font-size: 25px;
  margin: 20px;
  color: white;
}

.counter{
  align-self: center;
  margin-right: 15px;
}

.button {
  border-radius: 25px;
  width: 100px;
  height: 35px;
  background-color: #398fee;
  color: white;
  margin-left: 10px;
  align-self: center;
  font-size: 18px;
  font-weight: bold;
}

.button:hover{
  cursor: pointer;
  opacity: 80%;
}

.addContainer{
  display: flex;
  align-self: flex-end;
}