.container {
  height: 100vh;
  width: 40vw;
  border-right: 2px solid #353c47;
  margin: 0;
}

.header{
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  border-bottom:2px solid #353c47;
}

.input {
  width: 80%;
  background-color: #161d28;
  height: 60px;
  border: none;
  border-bottom: 2px solid #353c47;
  align-self: center;
  font-size: 25px;
}

.button {
  border-radius: 25px;
  width: 100px;
  height: 35px;
  background-color: #398fee;
  color: white;
  margin-left: 10px;
  align-self: center;
}

.addContainer{
  display: flex;
  align-self: flex-end;
  margin-right: 50px;
  margin-top: 10px;
}