.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    gap: 20px;
    height: 100vh;
    padding: 20px 10px;
}

.content {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow-y: scroll;
    height: 100%;
}